

<div class="row">&nbsp;</div>
<div class="row" ng-controller="ganttController">
    <span us-spinner spinner-key="spinner-gantt"></span>
  <div class="row">
      <div class="btn-group" role="group" >
          <button class="btn btn-primary btn-sm" ng-click="originalscale()"><span class="glyphicon glyphicon-eye-open"> Vista Origen</span></button>
          <button class="btn btn-primary btn-sm" ng-click="dayscale()"><span class="glyphicon glyphicon-sound-dolby"> Vista Dias</span></button>
          <button class="btn btn-primary btn-sm" ng-click="weekscale()"><span class="glyphicon glyphicon-th-list"> Vista Semanas</span></button>
          <button class="btn btn-primary btn-sm" ng-click="monthscale()"><span class="glyphicon glyphicon-calendar"> Vista Mes</span></button>
          <button class="btn btn-primary btn-sm" ng-click="yearscale()"><span class="glyphicon glyphicon-th"> Vista Año</span></button>
      </div>
      <div class="btn-group" role="group">
          <button class="btn btn-primary btn-sm"
              datepicker-popup="{{format}}"
              name="dtganttini"
              ng-model="dtganttini"
              is-open="datepickers.dtganttini"
              datepicker-options="dateOptions"
              ng-required="true"
              close-text="Close"
              ng-click="open($event,'dtganttini')"
              ng-change="selectDatedtganttini(dtganttini)">
                <i class="glyphicon glyphicon-calendar">Desde: {{ dtganttini | date:'dd/MM/yyyy' }}</i>
          </button>
          <button class="btn btn-primary btn-sm"
              datepicker-popup="{{format}}"
              name="dtganttfin"
              ng-model="dtganttfin"
              is-open="datepickers.dtganttfin"
              datepicker-options="dateOptions"
              ng-required="true"
              close-text="Close"
              ng-click="open($event,'dtganttfin')"
              ng-change="selectDatedtganttfin(dtganttfin)">
                <i class="glyphicon glyphicon-calendar">Hasta: {{ dtganttfin | date:'dd/MM/yyyy' }}</i>
          </button>
          <button class="btn btn-warning btn-sm" ng-click="filtrarGantt()">Filtrar</button>
      </div>
      <div class="btn-group pull-right" role="group" >
          <button class="btn btn-primary btn-sm left">Export to PDF</button>
          <button class="btn btn-primary btn-sm left">Export to PNG</button>
      </div>


  </div>
  <div class="row">
    <div data="gantdatuak" dhx-gantt style="height:600px; width:100%;">
      <div gantt-column label="Task">{{task.text | lowercase}}</div>
      <!-- <div gantt-column align="center" width="200"  label="Duration">{{task.duration}}</div> -->
      <!-- <div gantt-column-add width="45"></div> -->

      <div gantt-template="task_text">
        {{task.text | uppercase}}
      </div>

    </div>
  </div>
</div>