<style>
  html, body{
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .weekend{
    background: #f4f7f4;
  }
  .gantt_selected .weekend{
    background: #f7eb91;
  }
  .complete_button{
        margin-top: 1px;
        background-image:url("common/v_complete.png");
        width: 20px;
    }
    .dhx_btn_set.complete_button_set{
        background: #ACCAAC;
        color: #454545;
        border: 1px solid #94AD94;
    }
    .completed_task{
        border:1px solid #94AD94;
    }
    .completed_task .gantt_task_progress{
        background: #ACCAAC;
    }

    .dhtmlx-completed{
        border-color: #669e60;
    }
    .dhtmlx-completed div {
        background: #81c97a;
    }
    .red .gantt_cell, .odd.red .gantt_cell,
    .red .gantt_task_cell, .odd.red .gantt_task_cell{
        background-color: #FDE0E0;
    }
    .green .gantt_cell, .odd.green .gantt_cell,
    .green .gantt_task_cell, .odd.green .gantt_task_cell {
        background-color: #BEE4BE;
    }

</style>



<div class="row">&nbsp;</div>
<div class="row" ng-controller="ganttController">
    <span us-spinner spinner-key="spinner-gantt"></span>
  <div class="row">
      <div class="btn-group" role="group" >
          <button class="btn btn-primary btn-sm" ng-click="ganttgridtoogle()"><i class="fa fa-toggle-on"></i>&nbsp;</button>
          <button class="btn btn-primary btn-sm" ng-click="originalscale()"><i class="fa fa-undo"></i>&nbsp;Origen</button>
          <button class="btn btn-primary btn-sm" ng-click="dayscale()"><i class="fa fa-calendar-o"></i>&nbsp;Dias</button>
          <button class="btn btn-primary btn-sm" ng-click="weekscale()"><i class="fa fa-server"></i>&nbsp;Semanas</button>
          <button class="btn btn-primary btn-sm" ng-click="monthscale()" ><i class="fa fa-calendar"></i>&nbsp;Mes</button>
          <button class="btn btn-primary btn-sm" ng-click="yearscale()"><span class="glyphicon glyphicon-th">&nbsp;Año</span></button>
      </div>
      <div class="btn-group" role="group">
          <button class="btn btn-primary btn-sm"
              datepicker-popup="{{format}}"
              name="dtganttini"
              ng-model="dtganttini"
              is-open="datepickers.dtganttini"
              datepicker-options="dateOptions"
              ng-required="true"
              close-text="Close"
              ng-click="open($event,'dtganttini')"
              ng-change="selectDatedtganttini(dtganttini)">
                <i class="fa fa-calendar"></i>&nbsp;Desde: {{ dtganttini | date:'dd/MM/yyyy' }}
          </button>
          <button class="btn btn-primary btn-sm"
              datepicker-popup="{{format}}"
              name="dtganttfin"
              ng-model="dtganttfin"
              is-open="datepickers.dtganttfin"
              datepicker-options="dateOptions"
              ng-required="true"
              close-text="Close"
              ng-click="open($event,'dtganttfin')"
              ng-change="selectDatedtganttfin(dtganttfin)">
                <i class="fa fa-calendar"></i>&nbsp;Hasta: {{ dtganttfin | date:'dd/MM/yyyy' }}
          </button>
          <button class="btn btn-warning btn-sm" ng-click="filtrarGantt()"><i class="fa fa-filter"></i>&nbsp;Filtrar</button>
      </div>
      <div class="btn-group pull-right" role="group" >
          <button class="btn btn-primary btn-sm left" onclick='gantt.exportToPDF()'><i class="fa fa-file-pdf-o"></i>&nbsp;Export to PDF</button>
          <button class="btn btn-primary btn-sm left" onclick='gantt.exportToPNG()'><i class="fa fa-picture-o"></i>&nbsp;Export to PNG</button>
          <button class="btn btn-primary btn-sm left" onclick='gantt.exportToExcel()'><i class="fa fa-file-excel-o"></i>&nbsp;Export to Excel</button>
      </div>


  </div>
  <div class="row">
    <div data="gantdatuak" dhx-gantt style="height:600px; width:100%;">
      <div gantt-column label="Task">{{task.text | lowercase}}</div>
      <!-- <div gantt-column align="center" width="200"  label="Duration">{{task.duration}}</div> -->
      <!-- <div gantt-column-add width="45"></div> -->

      <div gantt-template="task_text">
        {{task.text | uppercase}}
      </div>

    </div>
  </div>
</div>