<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div id="linea1" class="row">
    <div class="col-md-12">
        <div class="col-md-1">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-success" ng-click="aldatuastea(-7)"><span
                        class="glyphicon glyphicon-chevron-left"></span></button>
                <button class="btn btn-default" datepicker-popup="{{format}}" name="dt" ng-model="dt"
                        is-open="datepickers.dt" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                        ng-click="open($event,'dt')" ng-change="selectDate(dt)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
        </div>
        <span us-spinner spinner-key="spinner-1"></span>
        <div class="col-md-10 scrolla">
            <div id="scroller">
                <table class="table text-center table-condensed">
                    <thead>
                    <tr>
                        <th>Semana {{ astea }}</th>
                        <th class="text-center" ng-model="eguna1">{{ eguna1 | date : 'yyyy/MM/dd'}} <br /> Lunes</th>
                        <!-- <th class="text-center">&nbsp;</th> -->
                        <th class="text-center" ng-model="eguna2">{{ eguna2 | date : 'yyyy/MM/dd'}} <br /> Martes</th>
                        <!-- <th class="text-center">&nbsp;</th> -->
                        <th class="text-center" ng-model="eguna3">{{ eguna3 | date : 'yyyy/MM/dd'}} <br /> Miercoles</th>
                        <!-- <th class="text-center">&nbsp;</th> -->
                        <th class="text-center" ng-model="eguna4">{{ eguna4 | date : 'yyyy/MM/dd'}} <br /> Jueves</th>
                        <!-- <th class="text-center">&nbsp;</th> -->
                        <th class="text-center" ng-model="eguna5">{{ eguna5 | date : 'yyyy/MM/dd'}} <br /> Viernes</th>
                        <!-- <th class="text-center">&nbsp;</th> -->
                        <th class="text-center" ng-model="eguna6">{{ eguna6 | date : 'yyyy/MM/dd'}} <br /> Sabado</th>
                        <!-- <th class="text-center">&nbsp;</th> -->
                        <th class="text-center" ng-model="eguna7">{{ eguna7 | date : 'yyyy/MM/dd'}} <br /> Domingo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-controller="linea1Controller">
                        <td class="tdlinea">Siplace</td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,1,eguna1)">
                            <div class="box-of" 
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna1"
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna1" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                    tooltip-html-unsafe="{{arratontooltip}}">


                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="1"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna1}}"
                                data-linea="1"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,1,eguna2)">
                            <div class="box-of" 
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna2" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna2" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="1"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna2}}"
                                data-linea="1"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,1,eguna3)">
                            <div class="box-of" 
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna3" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna3" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="1"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna3}}"
                                data-linea="1"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,1,eguna4)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna4" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna4" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="1"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna4}}"
                                data-linea="1"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,1,eguna5)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna5" 
                                ng-model="asteeguna5" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="1"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna5}}"
                                data-linea="1"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,1,eguna6)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna6" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna6" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="1"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna6}}"
                                data-linea="1"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,1,eguna7)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna7" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna7" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="1"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna7}}"
                                data-linea="1"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                    </tr>
                    
                    <tr ng-controller="linea2Controller">
                        <td class="tdlinea">Assembleon </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,2,eguna1)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna1" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna1" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                    tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="2"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna1}}"
                                data-linea="2"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,2,eguna2)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna2" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna2" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="2"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna2}}"
                                data-linea="2"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,2,eguna3)">
                            <div class="box-of" 
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)" 
                                ng-repeat="orden in asteeguna3" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna3" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="2"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna3}}"
                                data-linea="2"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,2,eguna4)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna4" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna4" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="2"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna4}}"
                                data-linea="2"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,2,eguna5)">
                            <div class="box-of" 
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)" 
                                ng-repeat="orden in asteeguna5" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna5" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="2"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna5}}"
                                data-linea="2"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,2,eguna6)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna6" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna6" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="2"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna6}}"
                                data-linea="2"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,2,eguna7)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna7" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna7" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="2"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna7}}"
                                data-linea="2"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                    </tr>

                    <tr ng-controller="linea3Controller">
                        <td class="tdlinea">Montage y repaso </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,3,eguna1)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna1" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna1" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                    tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="3"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna1}}"
                                data-linea="3"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,3,eguna2)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna2" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna2" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="3"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna2}}"
                                data-linea="3"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,3,eguna3)">
                            <div class="box-of" 
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)" 
                                ng-repeat="orden in asteeguna3" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna3" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="3"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna3}}"
                                data-linea="3"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,3,eguna4)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna4" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna4" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="3"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna4}}"
                                data-linea="3"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,3,eguna5)">
                            <div class="box-of" 
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)" 
                                ng-repeat="orden in asteeguna5" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna5" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="3"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna5}}"
                                data-linea="3"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,3,eguna6)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna6" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna6" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="3"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna6}}"
                                data-linea="3"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                        <td class="asteeguna" ui-on-Drop="onDrop($event,$data,3,eguna7)">
                            <div class="box-of"  
                                ui-draggable="true" 
                                drag="orden" 
                                on-drop-success="dropSuccessHandler($event,$index,orden)"
                                ng-repeat="orden in asteeguna7" 
                                ng-class="whatClassIsIt(orden.amaituta)" 
                                ng-model="asteeguna7" 
                                style=" border:1px solid #000000; padding:3px; 
                                    background-color: {{ users | searchByRefBackcolor : 'ref' : orden.ref }} !important; 
                                    color:{{ users | searchByRefForecolor : 'ref' : orden.ref }} !important;" 
                                tooltip-html-unsafe="{{arratontooltip}}">

                                    <span ng-if="orden.badutstock == 0" class="badge glyphicon glyphicon-fire">OJO!</span>

                                    <span 
                                        data-miid="{{ orden._id }}"
                                        data-fetxa="{{orden.fetxa}}"
                                        data-turno="1"
                                        data-linea="3"
                                        editable-text="orden.ref"
                                        e-form="textBtnForm" 
                                        ng-dblclick="textBtnForm.$show()"
                                        ng-mouseenter="arraton(orden.ref);"
                                        ng-click="grafikoa(orden.ref);"
                                        ng-if="isadmin"
                                        ng-bind-html="orden.ref"
                                        onbeforesave="updateUser($data, this)"></span>

                                    <span ng-style="set_color('{{ users | searchByRefForecolor : 'ref' : orden.ref }}')" 
                                        data-miid="{{ orden.id }}"
                                        ng-if="!isadmin"
                                        ng-click="grafikoa(orden.ref)"
                                        ng-bind-html="orden.ref"
                                        ></span>
                            </div> <!-- box-of -->
                            <div 
                                data-fetxa="{{eguna7}}"
                                data-linea="3"
                                editable-text="orden.ref"
                                onbeforesave="addData($data, this)">+</div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-success" ng-click="aldatuastea(7)">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
              </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <highchart id="chart1" config="chartConfig" class="span10"></highchart>
</div>