<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div id="linea1" class="row">
    <div class="col-md-12">
        <div class="col-md-1">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-success" ng-click="aldatuastea(-7)"><span
                        class="glyphicon glyphicon-chevron-left"></span></button>
                <button class="btn btn-default" datepicker-popup="{{format}}" name="dt" ng-model="dt"
                        is-open="datepickers.dt" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                        ng-click="open($event,'dt')" ng-change="selectDate(dt)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
        </div>
        <span us-spinner spinner-key="spinner-1"></span>
        <div class="col-md-10 scrolla">
            <div id="scroller">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Semana {{ astea }}</th>
                        <th class="text-center" ng-model="eguna1">{{ eguna1 | date : 'yyyy/MM/dd'}} <br /> Lunes</th>
                        <!-- <th class="text-center">&nbsp;</th> -->
                        <th class="text-center" ng-model="eguna2">{{ eguna2 | date : 'yyyy/MM/dd'}} <br /> Martes</th>
                        <!-- <th class="text-center">&nbsp;</th> -->
                        <th class="text-center" ng-model="eguna3">{{ eguna3 | date : 'yyyy/MM/dd'}} <br /> Miercoles</th>
                        <!-- <th class="text-center">&nbsp;</th> -->
                        <th class="text-center" ng-model="eguna4">{{ eguna4 | date : 'yyyy/MM/dd'}} <br /> Jueves</th>
                        <!-- <th class="text-center">&nbsp;</th> -->
                        <th class="text-center" ng-model="eguna5">{{ eguna5 | date : 'yyyy/MM/dd'}} <br /> Viernes</th>
                        <!-- <th class="text-center">&nbsp;</th> -->
                        <th class="text-center" ng-model="eguna6">{{ eguna6 | date : 'yyyy/MM/dd'}} <br /> Sabado</th>
                        <!-- <th class="text-center">&nbsp;</th> -->
                        <th class="text-center" ng-model="eguna7">{{ eguna7 | date : 'yyyy/MM/dd'}} <br /> Domingo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tdlinea">Siplace</td>
                        <td ng-controller="linea1Controller">
                            <table >
                                <tr>
                                    <td ng-repeat="orden in eguna.ordenes">
                                        <span  
                                        ng-if="orden.badutstock == 1" 
                                        class="badge glyphicon glyphicon-fire">OJO!</span>
                                        <span 
                                            data-miid="{{ egunak._id }}"
                                            data-fetxa="{{egunak.fetxa}}"
                                            data-turno="1"
                                            data-linea="1"
                                            editable-text="orden.ref"
                                            e-form="textBtnForm" 
                                            ng-dblclick="textBtnForm.$show()"
                                            ng-click="grafikoa(eguna.orden); arraton(eguna.orden);"
                                            ng-if="isadmin"
                                            ng-bind-html="eguna.orden"
                                            onbeforesave="updateUser($data, this)"></span>            
                                    </td>
                                </tr>
                                <tr ng-show="isadmin" >
                                    <td>&nbsp;</td>
                                    <td ng-repeat="i in [eguna1,eguna2,2,3,4,5,6]">
                                        <span  data-miid="{{ egunak._id }}"
                                                data-fetxa="{{i}}"
                                                data-linea="1"
                                                editable-text="orden.ref"
                                                onbeforesave="addData($data, this)">+aaa</span>
                                    </td>
                                </tr>
                            </table>
                            
                        </td>
                    </tr>
                    
                    <tr ng-controller="linea2Controller">
                        <td class="tdlinea">Assembleon </td>
                        <td ng-repeat="egunak in datuak">

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- scroller -->


        </div>
        <div class="col-md-1">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-success" ng-click="aldatuastea(7)"><span
                        class="glyphicon glyphicon-chevron-right"></span></button>
              </span>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display: visible;">
    {{ charData }}
    <highchart id="chart1" config="chartConfig" class="span10"></highchart>
    }
</div>