
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<p>Asocia las refencias a los colores:</p>
<div id="linea1" class="row">
	<div class="col-md-2"></div>
    <div class="col-md-8">

        <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">

            <!-- table -->
            <table class="table table-bordered table-hover table-condensed">
                <tr style="font-weight: bold">
                    <td style="width:40%">Referencia</td>
                    <td style="width:30%">Color fondo</td>
                    <td style="width:30%">Color texto</td>
                    <td style="width:30%"><span ng-show="tableform.$visible">Acciones</span></td>
                </tr>
                <tr ng-repeat="user in users | filter:filterUser">
                    <td>
                        <!-- editable username (text with validation) -->
                        <span data-id="{{ user._id }}" editable-text="user.ref" e-form="tableform" >
                            {{ user.ref || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <span colorpicker e-form="tableform" style="display:block; background-color:{{ user.backcolor }}; width:100px; height:20px; border:1px solid #000000;" ng-model="user.backcolor">&nbsp;</span>
                    </td>
                    <td>
                        <span colorpicker e-form="tableform" style="display:block; background-color:{{ user.forecolor }}; width:100px; height:20px; border:1px solid #000000;" ng-model="user.forecolor">&nbsp;</span>
                    </td>
                    <td><button type="button" ng-show="tableform.$visible" ng-click="deleteUser(user.id)" class="btn btn-danger pull-right">Del</button></td>
                </tr>
            </table>

            <!-- buttons -->
            <div class="btn-edit">
                <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                    edit
                </button>
            </div>
            <div class="btn-form" ng-show="tableform.$visible">
                <button type="button" ng-disabled="tableform.$waiting" ng-click="addUser()" class="btn btn-default pull-right">add row</button>
                <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
                <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>