

/* ==========================================================================
   ikerib
   ========================================================================== */
.container {
	width: 98% !important;
}
.container-fluid {
  height: 100%;
}
.guzia {
  height: 100% !important;
}
td.tdlinea {
	vertical-align: middle !important;
}
.scrolla {
	overflow-x:scroll;
}
.sintopborde {
	border-top: none !important;
}

.item-wrapper a{
    display: inline !important;
}

.item-wrapper{
    display: inline !important;
    position: relative !important;
}

.item-wrapper form {
    position: absolute !important;
    top: -53px !important;
    background: #FFF !important;
    border: 1px solid #AAA !important;
    border-radius: 5px !important;
    padding: 7px !important;
    width: 188px !important;
    display: inline-block !important;
    left: 50% !important;
    margin-left: -110px !important;
    z-index: 101 !important;
}

.item-wrapper form:before{
    content:"" !important;
    width: 0 !important;
    height: 0 !important;
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    border-top: 10px solid #AAA !important;
    position:absolute !important;
    bottom:-10px !important;
    left:100px !important;
}

.item-wrapper input {
    width: 90px !important;
}

.item-wrapper button {
    margin-left: 1px !important;
}

.editable-click, a.editable-click {
    border-bottom: none !important;
}
/*.on-drag-enter{
    background-color : #aaaaaa;
}*/
.on-drag-hover:before {
  background: #fbec88;
  border: 1px solid #fad42e;
  content: 'soltar aqui';
  color: #363636;
  display: block;
  font-size: x-large;
  font-weight: 800;
}

.tatxatu {
    text-decoration:line-through !important;
}

.divorden {
  text-align: right;
  font-size: 10px;
}

.divdenbora {
  color: green !important;
}

.ng-scope {
  margin-top: 0px;
}

.boxnumhoras {
    min-height:65px !important;
}

.flex {
    display: flex;
}
.divhoraini {
    width: 50%;
}
.divnumhoras {
    flex: 1;
}